.customContent{
    font-family: "Prata" !important;

    letter-spacing: 13px;
    color: #464646;
    font-weight:550;
    /* display: block !important; */
}

body .modal-dialog { /* Width */
    max-width:50%;
    max-height: 100%;
    height: auto !important;
    width: auto !important;
    
    display: inline-block;
}

.modal-body{
    padding: 0 !important;
    
}

.twenty{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: min(20em, 12vw) !important;
    padding-top: 30px !important; 
    /* margin-left: 700px; */
}

.and{
    color: #FD8C94;
    font-size: 1em !important;
    
}

.percent{
    display: flex !important;
    justify-content: left;
    align-items: left;
    font-size: min(0.2em, 0.16em) !important;
    letter-spacing: 0px;
    text-align: center;
    line-height: .8;
    padding: 0 !important;
    padding-right: 50px !important;
    right: 10px;
}


.containerLeft{
    width: 50% !important;
    z-index: 1;
    display: flex !important;
    justify-content: center;
    align-items: left;
    height: 10% !important;
    padding-right: 9vw;
    /* padding-left: 3vw; */
    padding-top: 1;
}

.containerMiddle{
    width: 0% !important;
    /* z-index: -1; */
    display: flex !important;
    justify-content: left;
    /* padding-right: 80px; */
    align-items: center;
}

.containerRight{
    width: 50% !important;
    /* z-index: -1; */
    display: flex !important;
    justify-content: center;
    align-items: left;
    padding-left: 50px;
    /* padding-left: min(50px, 4vw); */
}

.left{
    text-align: left;
    padding-left: 0% !important;
    padding-top: 50px;
    font-size: 5.5em;
    /* padding-left: 10% !important; */
}

.middle{
    /* justify-content: center;
    align-items: center; */
    /* padding-top: 25% !important; */
    /* padding-right: -20px; */
    right:40px;
    font-size: 5.5em;
    background: white;
    padding-right: 30px !important;
    padding-top: 50px;
}

span{
    font-size: 2.3em;
}

.container{
    padding: 0px 50px !important;
    padding-right: 100px;
}

.modal {
    z-index: -1;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .modal-open .modal {
     z-index: 1050;
  }

 /* .container .row{
      width: 100% !important;
  } */

  .verticleLineLeft {
    border-left: 1px solid #E9E9E9;
    height: 10% !important;
    justify-content: right;
    /* margin-left: 11%;
    border-top: 6px #FD8C94;
    border-width: 12px; */
    /* position: absolute; */
    /* left: 50%;
    margin-left: -3px;
    top: 0; */
  }
  .verticleLineLeftBottom {
    border: 0;
    margin: 0;
    border-left: 1px solid #FD8C94;
    height: 125px;
    /* float: left; */
  
    /* margin-left: 11%;
    border-top: 6px #FD8C94;
    border-width: 12px; */
    /* position: absolute; */
    /* left: 50%;
    margin-left: -3px;
    top: 0; */
  }

.verticleLineLeftTop{
    border: 0;
    margin: 0;
    border-left: 1px solid #FD8C94;
    height: 125px;
}

  .test{
      width: 1px !important;
      padding-left: 51px;
  }

  .topLine{
    width: 1px !important;
    padding-left: 51px; 
  }

  .middleLine{
    border-right: 1px solid #E9E9E9;
    height: 500px;
    /* padding-left: 50px; */
    /* background:linear-gradient(black,black) left no-repeat;
    background-size:50% 3px; */
  }
/* 
  .formModal{
      font-size: 1px !important;
      position: absolute;
      bottom: 0;
      right: 100px;
  } */

  form {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
    position: absolute;
    bottom: 5vw;
    right: 1vw;
  }
  
  label, input {
    display: block; /* 1. oh noes, my inputs are styled as block... */
  }
  input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid black;
  }

  .email{
      margin-right: 10px;
  }

.signUp{
    width: 150px;
    height: 50px;
    border:none;
    border-bottom: 3px solid #FD8C94;
    background: rgba(255, 255, 255,0);
    font-size: 15px;
    letter-spacing: 3px;
    color: #FD8C94;
}

::placeholder{
    color: #464646 !important;
    font-weight: bold;
    opacity: 1;
    letter-spacing: 3px;
    font-size: 15px;
}
@font-face {
    font-family: Prata;
    src: url("fonts/Prata-Regular.ttf");
    letter-spacing: 13px;
    color:#464645
}

@media only screen and (max-width:1240px){
    .middleLine{
        display: none;
    }
    body .modal-dialog { /* Width */
        max-width:90%;
        max-height: 100%;
        height: auto !important;
        width: auto !important;
        
        display: inline-block;
    }
    .customContent{
        font-family: "Prata" !important;
        font-size: 0.4em !important;
        letter-spacing: 13px;
        color: #464646;
        font-weight:550;
        white-space: pre-wrap;
        /* display: block !important; */
    }

    .middle{
        /* justify-content: center;
        align-items: center; */
        /* padding-top: 25% !important; */
        /* padding-right: -20px; */
        right:0px;
        height: 30vw !important;
        background: none;
        padding-right: 0px !important;
        padding-top: 0px;
        position: relative;
        right: 53vw;
        z-index: 2;
        
        /* bottom: 100vw; */
        /* background: white; */
        /* 
        font-size: 37px; */
    }
      
.containerLeft{
    width: 100% !important;
    /* z-index: -1; */
    max-height:300px;
    display: inline-block;
    justify-content:center;
    align-items: center;
    /* height: 10% !important; */
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 40px;
    z-index: 3;
}

.containerMiddle{
    width: 0% !important;
    display: block;
    /* z-index: -1; */
    /* display: flex !important;
    justify-content: left; */
    /* padding-right: 80px; */
    align-items: center;
    /* float: left; */
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    font-size: 2em !important;
}

.containerRight{
    width: 0% !important;
    /* z-index: -1; */
    display: inline-flex !important;
    /* justify-content: center;
    align-items: left; */
    padding-left: 0px;
    top: 50px;
    /* position:relative; */
    /* padding-left: min(50px, 4vw); */
}

.container{
    white-space: pre-wrap;
    padding: 0 !important;
}

.verticleLineLeftTop{
    display: none;
}
.verticleLineLeftBottom{
    display: none;
}

.twenty{
    display: flex !important;
    justify-content: right;
    align-items: right;
    font-size: 20em !important;
    padding-top: 30px !important; 
    padding-right: 35vw !important;
    margin-left: 0px;
    position: relative;
    top: 120px;
    z-index: 3;
    /* white-space: pre-wrap; */
}
.left{
    text-align: left;
    padding-left: 10% !important;
    padding-top: 0px !important;
    font-size:7em !important;
    width: 100vw !important;
    /* float: right; */
    position: relative;
    bottom:75px !important;
    /* padding-bottom: 100% !important; */
}

h1{
    font-family: sans-serif;
    margin: 100px auto;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
    position:relative;
    bottom: 100vw;
    }
    h1:before{
    content: "";
    display:block;
    width: 170px;
    height:2px;
    background: #E9E9E9;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    }
    h1:after{
    content: "";
    display:block;
    width: 120px;
    height:2px;
    background: #E9E9E9;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    }
    span{
    background: #fff;
    font-size: 2.1em;
    background-repeat: repeat-x;
    /* background-size: 12px; */
    }


    
.row{
    margin: 0px !important;
}


.verticleLineLeft{
    border-left: none;
    height: 10% !important;
    justify-content: right;
    padding-bottom: 25px;
}

form {
    display:block;
    flex-direction:none;
    position: absolute;
    bottom: -20px;
    left: 20px;
  }
  .email{
    margin-right: 10px;
    display: inline-block;
    font-size: x-large;
    text-align: center;
}

.signUp{
  width: 80vw;
  border: 1px solid #FD8C94;
  background: rgba(255, 255, 255,0);
  font-size: x-large;
  letter-spacing: 3px;
  color: #FD8C94;
  
}
}